/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 60%;
	float: left;
        background-color: #cc99ff;
        
}

.dataTables_filter {
	width: 60%;
	float: right;
	text-align: right;
         background-color: #cc99ff;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 54px;
	
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

/*table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}*/







table.display {
font-family: verdana,arial,sans-serif;
font-size:12px;
border-width: 1px;
border-color: activecaption;
border-collapse: collapse;
text-align: center;
margin-left: 10px;
border-style: dashed;
margin: 10px;
color: #666;
font-size: 12px;
-moz-border-radius: 3px;
-moz-box-shadow: 0 1px 2px #d1d1d1;
-webkit-border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #d1d1d1;
background: #eaebec;
border: #ccc 1px solid;
border-radius: 3px;
box-shadow: 0 1px 2px #d1d1d1;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 1px 1px 0px #fff;

}

table.display  th {
background:#b5cfd2 url('cell-blue.jpg');
border-width: 1px;
padding: 4px;
border-style: solid;
border-color: #999999;
padding: 5px 5px 5px 5px;
border-bottom: 1px solid #e0e0e0; border-top: 1px solid #fafafa;
background: #ededed;
height:1px ;
}
table.display  td {
border-style: solid;
border-color: #999999;
height:1px ;
color: black;
}

table.display  tr.even td {
background: #f6f6f6;
}

table.display  tr {
padding-left: 7px;
text-align: center;
    height:24px;
}

table.display  tr:hover td {
    background: #CCCCCC;
}
table.display  tr:hover th {
    background: #CCCCCC;
}

table.display  tr td {
padding: 4px;
border-bottom: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-top: 1px solid #ffffff;
background: #fafafa;
}

table.display input{
 width: 105px;
    height: 20px;
 font-size: 10px;
 padding:1px ;   
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #ff9900;
}

tr.odd td.sorting_2 {
	background-color: #ff9900;
}

tr.odd td.sorting_3 {
	background-color: #ff9900;
}

tr.even td.sorting_1 {
	background-color: #ff9900;
}

tr.even td.sorting_2 {
	background-color: #ff9900;
}

tr.even td.sorting_3 {
	background-color: #ff9900;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #ff9900;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #ff9900;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #ff9900;
}

tr.even.gradeA td.sorting_1 {
	background-color: #ff9900;
}

tr.even.gradeA td.sorting_2 {
	background-color: #ff9900;
}

tr.even.gradeA td.sorting_3 {
	background-color: #ff9900;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #ff9900;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #ff9900;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #ff9900;
}

tr.even.gradeC td.sorting_1 {
	background-color: #ff9900;
}

tr.even.gradeC td.sorting_2 {
	background-color: #ff9900;
}

tr.even.gradeC td.sorting_3 {
	background-color: #ff9900;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ff9900;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ff9900;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ff9900;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ff9900;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ff9900;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ff9900;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #ff9900;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #ff9900;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #ff9900;
}

tr.even.gradeU td.sorting_1 {
	background-color: #ff9900;
}

tr.even.gradeU td.sorting_2 {
	background-color: #ff9900;
}

tr.even.gradeU td.sorting_3 {
	background-color: #ff9900;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #ff9900;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #ff9900;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #ff9900;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #ff9900;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #ff9900;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #ff9900;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #ff9900;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}
